<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Special Announcement</title>
  <link rel="shortcut icon" href="/newslettericon.png" type="image/x-icon">
</head>
<body>
  <h1>Hello <%= subscriberName %>,</h1>
  <p>We are excited to share a special announcement with you! Stay tuned for more updates.</p>
  <p>Click <a href="<%= unsubscribeLink %>">here</a> if you wish to unsubscribe.</p>
</body>
</html>
